<!doctype html>
<html class="no-js" lang="zxx">
<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<title>Girassol Childcare|| Family daycare || Happy Children Big Future</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	<!-- Favicons -->
	<link rel="apple-touch-icon" sizes="57x57" href="images/fav/apple-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="images/fav/apple-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="images//apple-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="images/fav/apple-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="images/fav/apple-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
<link rel="icon" type="image/png" sizes="192x192"  href="/android-icon-192x192.png">
<link rel="icon" type="image/png" sizes="32x32" href="images/fav/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="96x96" href="images/fav/favicon-96x96.png">
<link rel="icon" type="image/png" sizes="16x16" href="images/fav/favicon-16x16.png">
<link rel="manifest" href="/manifest.json">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
<meta name="theme-color" content="#ffffff">
<meta property="og:url"                content="www.girassolchildcare.com" >
<meta property="og:type"               content="Best Childcare in Cardiff Area -  Happy Children Big Future" >
<meta property="og:title"              content="Girassol Childcare - Best Childcare in Cardiff Area -  Happy Children Big Future" >
<meta property="og:description"        content="Welcome to Girassol Childcare - Friendly, dependable and family quality daycare is Priceless" >
<meta property="og:image"              content="http://www.girassolchildcare.com/images/share.png" >
<meta property="og:type"   content="image.gallery" /> 
<meta name="keywords" content="Day Care, Child, Care, Childcare, Cardiff, Encinitas, Kids, Fun, School, Caring, Toodler, Infants, Babies, Baby"/>
<meta name="description" content="Welcome to Girassol Childcare - Friendly, dependable and family quality daycare is Priceless">
<meta name="twitter:card" content="Girassol Childcare - Best Childcare in Cardiff Area -  Happy Children Big Future" id="ember28585474" class="ember-view">






	<!-- Google font (font-family: 'Dosis', Roboto;) -->
	<link href="https://fonts.googleapis.com/css?family=Dosis:400,500,600,700" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700" rel="stylesheet">
	 

	<!-- Stylesheets -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link rel="stylesheet" href="css/plugins.css">
	<link rel="stylesheet" href="css/style.css">

	<!-- Cusom css -->
   <link rel="stylesheet" href="css/custom.css">

	<!-- Modernizer js -->
	<script src="js/vendor/modernizr-3.5.0.min.js"></script>

	<script src="https://maps.google.com/maps/api/js"></script>

	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>
<body>
	<!--[if lte IE 9]>
		<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
	<![endif]-->

	<!-- Add your site or application content here -->
	
	<!-- <div class="fakeloader"></div> -->

	<!-- Main wrapper -->
	<div class="wrapper" id="wrapper">
		<!-- Header -->
		<header id="header" class="jnr__header header--one clearfix">
			<!-- Start Header Top Area -->
	
			<!-- End Header Top Area -->
			<!-- Start Mainmenu Area -->
			<div class="mainmenu__wrapper bg__cat--1 poss-relative header_top_line sticky__header">
				<div class="container">
					<div class="row d-none d-lg-flex">
						<div class="col-sm-4 col-md-6 col-lg-2 order-1 order-lg-1">
							<div class="logo">
								<a href="index.html">
									<img src="images/logo/girassol.png"  alt="logo images">
								</a>
							</div>
						</div>
						<div class="col-sm-4 col-md-2 col-lg-9 order-3 order-lg-2">
							<div class="mainmenu__wrap">
								<nav class="mainmenu__nav">
                                    <ul class="mainmenu">
											<li><a href="#home">Home</a></li>
											<li><a href="#about">About</a></li>
											<li><a href="#services">Activities</a></li>
											<li><a href="#pricing">Pricing</a></li>
											<li><a href="#gallery">Gallery</a></li>
                                            <li><a href="#contact">Contact</a></li>
                                    </ul>
                                </nav>
							</div>
						</div>
					
					</div>
					<!-- Mobile Menu -->
                    <div class="mobile-menu d-block d-lg-none">
                    	<div class="logo">
                    		<a href="#home"><img style="height:104px"src="images/logo/girassol.png" alt="logo"></a>
                    	</div>
                    	
                    </div>
                    <!-- Mobile Menu -->
				</div>
			</div>
			<!-- End Mainmenu Area -->
		</header>
		<!-- //Header -->
		<!-- Strat Slider Area -->
		<div id=home class="slide__carosel owl-carousel owl-theme">
			<div class="slider__area bg-pngimage--1  d-flex fullscreen justify-content-start align-items-center">
				<div class="container">
					<div class="row">
						<div class="col-md-12 col-lg-12 col-sm-12">
							<div class="slider__activation">
								<!-- Start Single Slide -->
								<div class="slide">
									<div class="slide__inner">
									
										<div class="slider__text">
											<h2 style="opacity: 1.0;">"Friendly, dependable and family quality daycare is Priceless"</h2>
										</div>
										<div class="slider__btn">
											<a class="dcare__btn" href="#about">READ MORE</a>
											
										</div>
									</div>
								</div>
								<!-- End Single Slide -->
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="slider__area bg-pngimage--1  d-flex fullscreen justify-content-start align-items-center">
				<div class="container">
					<div class="row">
						<div class="col-md-12 col-lg-12 col-sm-12">
							<div class="slider__activation">
								<!-- Start Single Slide -->
								<div class="slide">
									<div class="slide__inner">
									
										<div class="slider__text">
											<h2 >Play, Learn & Grow!</h2>
										</div>
										<div class="slider__btn">
											<a class="dcare__btn" href="#about">READ MORE</a>
										

										</div >
									</div>
								</div>
								<!-- End Single Slide -->
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- End Slider Area -->
		
		<!-- Start Welcame Area -->
		<section id=about class="junior__classes__area section-padding--md--top section-padding--md--bottom ">
				<div class="container">
					<div class="row">
						<div class="col-lg-12">
							<div class="section__title--2">
								<h2 class="title__line" >Welcome to <span class="theme-color-2">Girassol</span><span class="theme-color">Childcare</span></h2>
							</div>
						</div>
					</div>
					<div class="row jn__welcome__wrapper--2 align-items-center">
						<div class="col-md-6 col-lg-6 col-sm-12">
							<div class="welcome__juniro__three">
								<div class="welcome-tab nav" role="tablist">
									<a class="nav-item nav-link active" data-toggle="tab" href="#aboutUs" role="tab">About me</a>
									<a class="nav-item nav-link " data-toggle="tab" href="#mission" role="tab">Philosophy</a>
									<a class="nav-item nav-link" data-toggle="tab"        href="#vission" role="tab"> Goal</a>
									<a class="nav-item nav-link" data-toggle="tab"        href="#object" role="tab">Communication</a>
								</div>
								<div class="welcome__tab__content">
									<!-- Start Single Content -->

									<div class="single__welcome__content tab-pane fade show active" id="aboutUs" role="tabpanel">
											<p class=text-bold >Hello, my name is Isis Sena. I am 34 years old and I have 10 years of experience working as a childcare provider. I am also a proud mom of three wonderful boys. I was born and raised in Sao Paulo, Brazil. Moved to Cardiff, United States in 2009. I have always been around children and enjoyed caring for them. I attend child development classes at Mira Costa College, Child care support groups at YMCA.
													I love that I have the opportunity to get up every day and work with children, stay home with my own three sons. We both find great fulfillment in being an important part of each child's life that we care for. I consider it a privilege to care for these children. Their smiles and laughter can change your world; I wouldn't trade my job for anything.
													</p>
													<br>
													<br>
										</div>

									<div class="single__welcome__content tab-pane fade" id="mission" role="tabpanel">
										<p class=text-bold >We know that children learn best by "doing". Therefore, the activities the children participate in are concrete, hands-on, and encourage participation, but most of all fun, because we believe that learning is an exciting experience. Furthermore, we know that children also learn through play; because of this we do not under estimate its importance on a growing child's mind, body and spirit. Therefore, the children in our care receive lots of both free-play and structured-play throughout each day. During structured-play we primarily only have one group of toys or activity out at a time in order to allow the children to concentrate fully on each thing they do. Our intent is to provide each child in our care with a perfect balance of play-time and learning experiences throughout each day. Each child is
												given the opportunity to develop at his or her own pace in a setting that is challenging, enjoyable, and instills a lifelong love of learning.
												</p>
									</div>

									<!-- End Single Content -->
									<!-- Start Single Content -->
									<div class="single__welcome__content tab-pane fade" id="vission" role="tabpanel">
										<p class=text-bold >Our goal is to make learning for all ages fun and non-intimidating, by encouraging laughter and provoking smiles, ensuring that each child in our care feels safe, loved, and happy. For the various age groups of children in our care, we offer developmentally appropriate activities, designed to help the whole child grow and develop socially, emotionally, physically and intellectually. Our goal is to give each child in our care a solid and well-rounded skill base to help prepare them for a strong beginning in school. We strive to foster creativity and to instill joy in learning; to provide a place were children are encouraged to play and challenged to learn. We feel that both you and your child will be as enthusiastic as we are about our program.</p>
										<br>
										<br>
										<br>
									</div>
									<!-- End Single Content -->
									<!-- Start Single Content -->
									<div class="single__welcome__content tab-pane fade" id="object" role="tabpanel">
										<p>Communication
										Parents are their children's first teachers; therefore we honor your role as a parent and as the first and most important teacher in your child's life. We support this relationship by providing educational opportunities that help each child reach important developmental milestones. Through nurturing and individualized attention, we take great care to provide a safe, secure, and fun learning environment for your child. We feel that good communication between parent and provider is a very important part of a quality daycare. Because of this, we are committed to creating a strong bond with you and your child, helping to ensure the best start to your child's life.
									<br>
									<br>
									<br>
									<br>
									<br>
											</p>
									</div>
									<!-- End Single Content -->
								</div>
							
							</div>
						</div>
						<div class="col-md-6 col-lg-6 col-sm-6 ">

								<div class="wow fadeInUp " data-wow-delay="0.5s">

										<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
												<ol class="carousel-indicators">
												  <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
												  <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
												  <li data-target="#carouselExampleIndicators" data-slide-to="2" ></li>
												</ol>
												<div class="carousel-inner">
												  <div class="carousel-item active">
													<img style="border-radius: 10%; height:400px; object-fit: cover;" class="d-block w-100" src="images/gallery/4.jpg" alt="First slide">
												  </div>
												  <div class="carousel-item">
													<img style="border-radius: 10%;height:400px; object-fit: cover;" class="d-block w-100" src="images/gallery/10.jpg" alt="Second slide">
												  </div>
												  <div class="carousel-item">
													<img style="border-radius: 10%; height:400px; object-fit: cover;" class="d-block w-100" src="images/gallery/9.jpg" alt="Third slide">
												  </div>
												</div>
												
											  </div>


										<!-- <img  src="images/gallery/4.jpg" alt="welcome images"> -->
									</div>
						</div>
					</div>
					
					
				</div>
			</section>
		<!-- End Welcame Area -->

		<!-- Start Our Service Area -->
		<section id=services class="junior__service bg-image--1 section-padding--bottom section--padding--xlg--top">
			<div class="container">
				<div class="row">
					<!-- Start Single Service -->
					<div class="col-lg-3 col-md-6 col-sm-6 col-12">
						<div class="service bg--white border__color wow fadeInUp">
							<div class="service__icon">
								<img src="images/shape/sm-icon/3.png" alt="icon images">
							</div>
							<div class="service__details">
								<h6><a href="service.html">Active Learning
								</a></h6>
								<p>We know that children learn best by "doing". Therefore, the activities the children participate in are concrete, hands-on, and encourage participation, but most of all fun, because we believe that learning is an exciting experience.</p>
								<br>
							</div>
						</div>
					</div>
					<!-- End Single Service -->
					<!-- Start Single Service -->
					<div class="col-lg-3 col-md-6 col-sm-6 col-12 xs-mt-60">
						<div class="service bg--white border__color border__color--2 wow fadeInUp" data-wow-delay="0.2s">
							<div class="service__icon">
								<img src="images/shape/sm-icon/2.png" alt="icon images">
							</div>
							<div class="service__details">
								<h6><a href="service.html">Indoor Activities</a></h6>
								<p>Books and story-time, Legos, music and dancing, dress up, play food, interactive stuffed animals, cars/trucks/planes, arts and crafts, puzzles, flash cards, animals/dinosaurs, trains, musical instruments, balls, dolls and Barbies, various learning toys, musical instruments. </p>
								<!-- <div class="service__btn">
									<a class="dcare__btn--2" href="#">Read More</a>
								</div> -->
							</div>
						</div>
					</div>
					<!-- End Single Service -->
					<!-- Start Single Service -->
					<div class="col-lg-3 col-md-6 col-sm-6 col-12 md-mt-60 sm-mt-60">
						<div class="service bg--white border__color border__color--3 wow fadeInUp" data-wow-delay="0.45s">
							<div class="service__icon">
								<img src="images/shape/sm-icon/1.png" alt="icon images">
							</div>
							<div class="service__details">
								<h6><a href="service.html">Outdoor Activities</a></h6>
								<p>Climbing, sliding, jumping, running, balls, jump rope,catch, bubbles, follow the leader, squirt bottles, ride-on toys, safe water toys.During the summer months we allow for more outdoor activities and creative art projects. Weather permitting, we play outdoors every day.</p>
								
							</div>
						</div>
					</div>
					<!-- End Single Service -->
					<!-- Start Single Service -->
					<div class="col-lg-3 col-md-6 col-sm-6 col-12 md-mt-60 sm-mt-60">
						<div class="service bg--white border__color border__color--4 wow fadeInUp" data-wow-delay="0.65s">
							<div class="service__icon">
								<img src="images/shape/sm-icon/4.png" alt="icon images">
							</div>
							<div class="service__details">
								<h6><a href="service.html">Life Lessons</a></h6>
								<p>We believe that life lessons are the greatest teacher. When children are allowed to experience cause and effect, and respect for others; then they grow to become well-adjusted participants in society..
								
								</p>
								<br>
								<br>
								
							</div>
						</div>
					</div>
					<!-- End Single Service -->
				</div>
			</div>
		</section>
		<!-- End Our Service Area -->

		<!-- Start Call To Action -->
		<!-- <section>
			<div class="container" >
				<div class="row">
					<div class="col-lg-12 col-sm-12 col-md-12">
						<div class="jnr__call__action__wrap welcome__juniro__inner d-flex flex-wrap flex-md-nowrap flex-lg-nowrap justify-content-between align-items-center">
							<div >
									<div class="section__title text-center">
											<h2 class="title__line">How to enroll your child?</h2>
											<p>  </p>
										</div>
								<p><br> (1) Contact us to schedule a time for you and your child to visit us in our home. We will be happy to answer any questions that you may have. During your visit, you will have the opportunity to meet us, learn more about what we have to offer, and meet some of the other children that we provide care for.
									 This time spent gives all involved an opportunity to get to know one another and to make sure that all personalities mix well. This is important and helps to ensure that both parties are comfortable with their surroundings and expectations. <br>(2) After which time the registration process may begin; consisting of a parent handbook, parent/provider contract, and various enrollment forms. Once they are read, completed, signed, returned, and the deposit has been paid, your child's space has been reserved.
									 The deposit is equal to two weeks of childcare costs and is credited towards the last two weeks of your child's enrollment. <br>(3) And the final step is to simply decide on a start date.

									</p>
									
							</div>
							
						</div>
					</div>
				</div>
			</div>
		</section> -->
		<!-- End Call To Action -->

		<!-- Start our Class Area -->
		<section id="pricing" class="junior__classes__area section-lg-padding--top section-padding--md--bottom  bg-image--4">
			<div class="container">
				<div class="row">
					<div class="col-md-12 col-lg-12 col-sm-12">
						<div class="section__title text-center">
							<h2 class="title__line">Pricing</h2>
							<!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunte magna aliquaet, consectetempora incidunt</p> -->
						</div>
					</div>
				</div>
				<div class="row classes__wrap activation__one owl-carousel owl-theme clearfix mt--40">
					<!-- Start Single Classes -->
					<div class="col-lg-4 col-sm-6">
						<div class="junior__classes">
							<div class="classes__thumb">
								<a href="class-details.html">
									<img style="height:300px" src="http://smartkidspreschool.in/images/classes/14.jpg" alt="class images">
								</a>
							</div>
							<div class="classes__inner" style="background-color:white;">
							
								<div class="class__details">
									<h4><a href="class-details.html">Full Time Prices</a></h4>
									<ul class="class__time">
										<li>5 Days Per Week (7:30am - 5:30pm)

											</li>
										<li>Infant/Young Toddler/Older Toddler(0 to 4 years)</li>
										<li>Weekly - $320</li>
										<br>
									</ul>
									<div class="class__btn">
										<a class="dcare__btn--2" href="#contact">Admission Now</a>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- End Single Classes -->
					<!-- Start Single Classes -->
					<div class="col-lg-4 col-sm-6">
						<div class="junior__classes">
							<div class="classes__thumb">
								<a href="class-details.html">
									<img style="height:300px" src="http://tenerifeholidayservices.com/wp-content/themes/fashion.photographer/images/timthumb/timthumb.php?src=http://tenerifeholidayservices.com/wp-content/uploads/sites/74/98/1489324998-happy-kids.png&w=400&h=" alt="class images">
								</a>
							</div>
							<div class="classes__inner">
								
								<div class="class__details">
									<h4><a href="class-details.html">Part Time Prices</a></h4>
									<ul class="class__time">
										<li>Full Day (7:30am - 5:30pm</li>
										<li>1 Day per Week - $80</li>
										<li>2 Day per Week - $155</li>
										<li>3 Day per Week - $225</li>
										<br>
									</ul>
									<div class="class__btn">
										<a class="dcare__btn--2" href="#contact">Admission Now</a>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- End Single Classes -->
					<!-- Start Single Classes -->
					<div class="col-lg-4 col-sm-6">
						<div class="junior__classes">
							<div class="classes__thumb">
								<a href="class-details.html">
									<img style="height:300px;"src="https://images.unsplash.com/photo-1519340241574-2cec6aef0c01?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=3d124edb0abbae8ec64a6836e2507f21&auto=format&fit=crop&w=1489&q=80" alt="class images">
								</a>
							</div>
							<div class="classes__inner">
								
								<div class="class__details">
									<h4><a href="class-details.html">One day stay</a></h4>
									<ul class="class__time">
										<li>Young Toddler/Older Toddler (0 to 4 years)</li>
										<li>Full day(8 hours) - $80</li>
										<li>Hourly - $12/hour</li>
										<li>Overnight - $16/hour</li>
										<br>
									</ul>
									<div class="class__btn">
										<a class="dcare__btn--2" href="#contact">Admission Now</a>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- End Single Classes -->
					<!-- Start Single Classes -->
					
					<!-- End Single Classes -->
					<!-- Start Single Classes -->
					
					<!-- End Single Classes -->
				</div>
			</div>
		</section>
		<!-- End our Class Area -->
		
		<!-- Start Testimonial Area -->
		<section class="junior__testimonial__area bg-image--2 section-padding--lg">
			<div class="container">
				<div class="row">
					<div class="offset-lg-2 col-lg-8 col-md-12 col-sm-12">
						<div class="testimonial__container">
							
							<div  style="margin-top:-150px;"class="tes__activation--1 owl-carousel owl-theme">
								
								<div class="testimonial__bg">
									<!-- Start Single Testimonial -->
									<div class="testimonial text-center">
										
										<div class="testimonial__inner">
											<div class="test__icon">
												<img src="images/testimonial/icon/1.png" alt="icon images">
											</div>
											<div class="client__details">
												<p>No word to say!!!! how great they are. they will be always taking care of my kids. thanks GIrassol. you guys rock !!</p>
												<div class="client__info">
													<h6 style="color:#fe0072;">Emiliano Abate</h6>
												
												</div>
											</div>
										</div>
									</div>
									<!-- End Single Testimonial -->
								</div>
								<div class="testimonial__bg">
									<!-- Start Single Testimonial -->
									<div class="testimonial text-center">
										<div class="testimonial__inner">
											<div class="test__icon">
												<img src="images/testimonial/icon/1.png" alt="icon images">
											</div>
											<div class="client__details">
													<p>Safe place for your child. The staff is great and very kind with the children. I fully trust Isis and recommend this to anyone looking for a daycare for their kids.</p>
												<div class="client__info">
													<h6 style="color:#fe0072;" >Donna Tienne</h6>
													
												</div>
											</div>
										</div>
									</div>
									<!-- End Single Testimonial -->
								</div>
								<div class="testimonial__bg">
									<!-- Start Single Testimonial -->
									<div class="testimonial text-center">
										<div class="testimonial__inner">
											<div class="test__icon">
												<img src="images/testimonial/icon/1.png" alt="icon images">
											</div>
											<div class="client__details">
												<p>Isis is very professional, knowledgeable about  child's  development and passionate about what she does. My baby loves it at her place!</p>
												<div class="client__info">
													<h6 style="color:#fe0072;" >Marcela M.</h6>
													
												</div>
											</div>
										</div>
									</div>
									<!-- End Single Testimonial -->

								</div>
								
							</div>
							<img   style="margin-top: -50px;"src="http://paradisetourspr.com/wp-content/uploads/2017/05/5-stars.png">
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- End Testimonial Area -->
		<!-- Start Our Gallery Area -->
		<section id=gallery class="junior__gallery__area bg--white section-padding--lg ">
			<div class="container">
				<div class="row">
					<div class="col-lg-12 col-sm-12 col-md-12">
						<div class="section__title text-center">
							<h2 class="title__line">Our Gallery</h2>
							
						</div>
					</div>
				</div>
				<div class="row galler__wrap mt--40">
					<!-- Start Single Gallery -->
					<div class="col-lg-4 col-md-6 col-sm-6 col-12">
						<div class="gallery wow fadeInUp">
							<div class="gallery__thumb">
								<a href="#">
									<img style="height: 300px;" src="https://s3-media1.fl.yelpcdn.com/bphoto/CLTGttBzyFRNhArZC6LulA/o.jpg" alt="gallery images">
								</a>
							</div>
							<div class="gallery__hover__inner">
								<div class="gallery__hover__action">
									<ul class="gallery__zoom">
										<li><a href="https://s3-media1.fl.yelpcdn.com/bphoto/CLTGttBzyFRNhArZC6LulA/o.jpg" data-lightbox="grportimg" data-title="Daycare Room"><i class="fa fa-search"></i></a></li>
										
									</ul>
									
								</div>
							</div>
						</div>	
					</div>	
					<!-- End Single Gallery -->
					<!-- Start Single Gallery -->
					<div class="col-lg-4 col-md-6 col-sm-6 col-12">
						<div class="gallery wow fadeInUp">
							<div class="gallery__thumb">
								<a >
									<img style="height: 300px;" src="images/gallery/IMG_0913.jpg" alt="gallery images">
								</a>
							</div>
							<div class="gallery__hover__inner">
								<div class="gallery__hover__action">
									<ul class="gallery__zoom">
										<li><a href="images/gallery/IMG_0913.jpg" data-lightbox="grportimg" data-title="My caption"><i class="fa fa-search"></i></a></li>
										
									</ul>
									
								</div>
							</div>
						</div>	
					</div>	
					<!-- End Single Gallery -->
					<!-- Start Single Gallery -->
					<div class="col-lg-4 col-md-6 col-sm-6 col-12">
						<div class="gallery wow fadeInUp">
							<div class="gallery__thumb">
								<a >
									<img style="height: 300px;" src="https://s3-media4.fl.yelpcdn.com/bphoto/vujA5qE0ZmB2CC_IYt0JBQ/o.jpg" alt="gallery images">
								</a>
							</div>
							<div class="gallery__hover__inner">
								<div class="gallery__hover__action">
									<ul class="gallery__zoom">
										<li><a href="https://s3-media4.fl.yelpcdn.com/bphoto/vujA5qE0ZmB2CC_IYt0JBQ/o.jpg" data-lightbox="grportimg" data-title="My caption"><i class="fa fa-search"></i></a></li>
										
									</ul>
									
								</div>
							</div>
						</div>	
					</div>	
					<!-- End Single Gallery -->
					<!-- Start Single Gallery -->
					<div class="col-lg-4 col-md-6 col-sm-6 col-12">
						<div class="gallery wow fadeInUp">
							<div class="gallery__thumb">
								<a >
									<img style="height: 300px;" src="images/gallery/4.jpg" alt="gallery images">
								</a>
							</div>
							<div class="gallery__hover__inner">
								<div class="gallery__hover__action">
									<ul class="gallery__zoom">
										<li><a  href="images/gallery/4.jpg" data-lightbox="grportimg" data-title="My caption"><i class="fa fa-search"></i></a></li>
										
									</ul>
									
								</div>
							</div>
						</div>	
					</div>	
					<!-- End Single Gallery -->
					<!-- Start Single Gallery -->
					<div class="col-lg-4 col-md-6 col-sm-6 col-12">
						<div class="gallery wow fadeInUp">
							<div class="gallery__thumb">
								<a >
									<img style="height: 300px;" src="images/gallery/1.jpg" alt="gallery images">
								</a>
							</div>
							<div class="gallery__hover__inner">
								<div class="gallery__hover__action">
									<ul class="gallery__zoom">
										<li><a href="images/gallery/1.jpg" data-lightbox="grportimg" data-title="My caption"><i class="fa fa-search"></i></a></li>
										
									</ul>
									
								</div>
							</div>
						</div>	
					</div>	
					<!-- End Single Gallery -->
					<!-- Start Single Gallery -->
					<div class="col-lg-4 col-md-6 col-sm-6 col-12">
						<div class="gallery wow fadeInUp">
							<div class="gallery__thumb">
								<a >
									<img style="height: 300px;" src="images/gallery/10.jpg" alt="gallery images">
								</a>
							</div>
							<div class="gallery__hover__inner">
								<div class="gallery__hover__action">
									<ul class="gallery__zoom">
										<li><a href="images/gallery/10.jpg" data-lightbox="grportimg" data-title="My caption"><i class="fa fa-search"></i></a></li>
										
									</ul>
									
								</div>
							</div>
						</div>	
					</div>	
					<!-- End Single Gallery -->
				</div>	
			</div>
		</section>
		<!-- End Our Gallery Area -->
		<!-- Start Blog Area -->
	
		<!-- End Blog Area -->
		<!-- Start upcomming Area -->
		<section id=contact ></section>
		<!-- End upcomming Area -->
		<!-- Start Subscribe Area -->
		<section style="background-image: URL(../images/kidshope.png); padding:10px;" >
			<div class="container bg__cat--1 " style="width:85%; " >
				<div class="row">
				

					<div class="col-lg-12 col-md-12 col-sm-12 col-12">
							<div class="gallery wow fadeInUp">
								
									<form id=fr1 >
                                           
                                                <div class="news__input text-center">
													
													
													<input type="text"  class="email" id="tb1" placeholder="Subject" required>
													<input type="text"  class="email" id="tb2" placeholder="Message" required>
													<a onclick="changehref()" id="send" class="btn btn-light btn-block email text" href="mailto:girassoldaycaresd@gmail.com?subject=Question&body=I have a question">Send</a>
													<!-- <a  id=send_email style="margin-top:15px;"  type="submit"  value="Send " onclick="sendMail()"></a> -->
												</div>
											
                                                <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                                               
										</form>
										<div class="row">
											<div class="col-lg-12 col-md-12 col-sm-12 col-12">
												<div class="footer__contact__wrapper d-flex flex-wrap ">
													<div class="single__footer__address">
														<div class="ft__contact__icon">
															<i class="fa fa-home"></i>
														</div>
														<div class="ft__contact__details">
															<a href="maps://maps.google.com/maps?daddr=33.035448,-117.279805&amp;ll=" class="dcare__btn" style="color:white;">Open on Maps</a >
															<p style="color:white;">550 Faith Ave, Cardiff, CA 92007</p>
														</div>
													</div>
													<div class="single__footer__address">
														<div class="ft__contact__icon">
															<i class="fa fa-phone"></i>
														</div>
														<div class="ft__contact__details">
																
															<p ><a class="dcare__btn" style="color:white;" href="tel:+1760-704-2328">Call Us Now!</a></p>
															<p style="color:white;">+1(760)704-2328</p>
															
														</div>
													</div>
												
												</div>
											</div>
										</div>
										
								
							</div>	
						</div>
				
				</div>
			</div>
		</section>

		
		
		<!-- End Subscribe Area -->
		<!-- Footer Area -->
		<footer id="footer" class="footer-area footer--1">
			<div class="footer__wrapper bg-image--3 section-padding--sm">
				<div class="container">
					<div class="row">
						<!-- Start Single Widget -->
						<div class="col-lg-6 col-md-12 col-sm-12">
							<div class="footer__widget">
								<div class="ft__logo">
									<a href="index.html">
										<img style="height:130px;"src="images/logo/girassol.png" alt="logo images">
									</a>

									<ul class="dacre__social__link--2 d-flex justify-content-start">
											<li class="facebook"><a href="https://www.facebook.com/Girassol-Daycare-301777079973062/"><i class="fa fa-facebook"></i></a></li>
											
										
											<li class="google"><a href="https://www.google.com/maps/place/Girassol+Daycare+LLC/@32.8725133,-117.1092074,10z/data=!4m5!3m4!1s0x0:0xdac389cb9e8b37ec!8m2!3d32.8725133!4d-117.1092074"><i class="fa fa-google"></i></a></li>
										</ul>
								</div>
								<div class="ftr__details">
									
								</div>
							
							</div>
						</div>
						

						<!-- End Single Widget -->
						<!-- Start Single Widget -->
						
						<!-- End Single Widget -->
						<!-- Start Single Wedget -->
			
						<!-- End Single Wedget -->
						<!-- Start Single Widget -->
					
						<!-- End Single Widget -->
					</div>
				</div>
				
			</div>
			<!-- .Start Footer Contact Area -->

			<div class="copyright bg__cat--9">
					<div class="container">
						<div class="row align-items-center copyright__wrapper justify-content-center">
							<div class="col-lg-12 col-sm-12 col-md-12">
								<div class="coppy__right__inner text-center">
									<p><i class="fa fa-copyright"></i>All Right Reserved.<a href="https://brunohandrade.com" target="_blank"> Girassol Childcare</a></p>
								</div>
							</div>
						</div>
					</div>
				</div>
	
		</footer>
		<!-- //Footer Area -->
       


	</div><!-- //Main wrapper -->

	<!-- JS Files -->


	<script src="js/vendor/jquery-3.2.1.min.js"></script>

	<script src="js/plugins.js"></script>
	<script src="js/active.js"></script>

<script>
	wow = new WOW(
	 {
	
		}	) 
        .init();
        
        $('a[href*="#"]:not([data-toggle="tab"])')
  // Remove links that don't actually link to anything
  .not('[href="#"]')
  .not('[href="#0"]')
  .click(function(event) {
	// On-page links
	
    if (
      location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') 
      && 
      location.hostname == this.hostname
    ) {
      // Figure out element to scroll to
      var target = $(this.hash);
      target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
      // Does a scroll target exist?
      if (target.length) {
        // Only prevent default if animation is actually gonna happen
        event.preventDefault();
        $('html, body').animate({
          scrollTop: target.offset().top
        }, 1000, function() {
          // Callback after animation
          // Must change focus!
          var $target = $(target);
          $target.focus();
          if ($target.is(":focus")) { // Checking if the target was focused
            return false;
          } else {
            $target.attr('tabindex','-1'); // Adding tabindex for elements not focusable
            $target.focus(); // Set focus again
          };
        });
      }
    }
  });
  function regular_map() {
    var var_location = new google.maps.LatLng(33.035448, -117.279805);

    var var_mapoptions = {
        center: var_location,
        zoom: 18
    };

    var var_map = new google.maps.Map(document.getElementById("map-container"),
        var_mapoptions);


    var var_marker = new google.maps.Marker({
        position: var_location,
        map: var_map,
		title: "Girassol Childcare",
		

	});
	
	var_marker.addListener('click', function() {
         mapsSelector()
     });
}

function mapsSelector() {
  if /* if we're on iOS, open in Apple Maps */
    ((navigator.platform.indexOf("iPhone") != -1) || 
     (navigator.platform.indexOf("iPad") != -1) || 
     (navigator.platform.indexOf("iPod") != -1))
    window.open("maps://maps.google.com/maps?daddr=33.035448,-117.279805&amp;ll=");
else /* else use Google */
    window.open("https://maps.google.com/maps?daddr=33.035448,-117.279805&amp;ll=");
}

// Initialize maps
google.maps.event.addDomListener(window, 'load', regular_map);
	</script>


<script>
//Send Email

			function changehref(){
				var email = $('#tb1').val();
				var message = $('#tb2').val();

				$("#send").attr('href',"mailto:girassoldaycaresd@gmail.com?subject="+email+"&body="+message)
				$('#emailForm').trigger("reset");
			}
		


	</script>
</body>
</html>
